<%- include('../partials/admin-header') %>


  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Categories </h2>
        <p>Add, edit or delete a category</p>
      </div>
      <div>
        <input type="text" placeholder="Search Categories" class="form-control bg-white">
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <form action="add-category" method="POST">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input name="categoryName" type="text" placeholder="Type here" class="form-control"
                  id="product_name" />
              </div>
              <div class="mb-4">
                <label for="product_slug" class="form-label">Slug</label>
                <input name="categorySlug" type="text" placeholder="Type here" class="form-control"
                  id="product_slug" />
              </div>
              <!-- <div class="mb-4">
                <label class="form-label">Parent</label>
                <select class="form-select">
                  <option>Clothes</option>
                  <option>T-Shirts</option>
                </select>
              </div> -->
              <div class="mb-4">
                <label class="form-label">Description</label>
                <textarea name="categoryDesc" placeholder="Type here" class="form-control"></textarea>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary">Create category</button>
              </div>
            </form>
          </div>
          <div class="col-md-9">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="text-center">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" />
                      </div>
                    </th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Slug</th>
                    <th class="text-end">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% categories.forEach(element=> { %>
                    <tr>
                      <td class="text-center">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="" />
                        </div>
                      </td>
                      <td><b><%= element.categoryName %></b></td>
                      <td><%= element.categoryDesc %></td>
                      <td>/<%= element.categorySlug %></td>
                      <td class="text-end">
                        <div class="dropdown">
                          <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i
                              class="material-icons md-more_horiz"></i> </a>
                          <div class="dropdown-menu">
                            <a class="dropdown-item" href="edit-product-category?id=<%= element._id %>">Edit info</a>
                            <a class="dropdown-item text-danger" href="delete-product-category?id=<%= element._id %>" onclick="return confirm('Do you want to delete <%= element.categoryName %>')">Delete</a>
                          </div>
                        </div> <!-- dropdown //end -->
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div> <!-- .col// -->
        </div> <!-- .row // -->
      </div> <!-- card body .// -->
    </div> <!-- card .// -->
  </section> <!-- content-main end// -->

  <%- include('../partials/admin-footer') %>