<%- include('../partials/admin-header') %>


  <section class="content-main">
    <div class="content-header">
      <div>
        <h2 class="content-title card-title">Edit Category</h2>
        <p>edit category</p>
      </div>
      <div>
        <input type="text" placeholder="Search Categories" class="form-control bg-white">
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form action="add-category" method="POST">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input value="<%= categoryDetails.categoryName %>" name="categoryName" type="text"
                  placeholder="Type here" class="form-control" id="product_name" />
              </div>
              <div class="mb-4">
                <label for="product_slug" class="form-label">Slug</label>
                <input value="<%= categoryDetails.categorySlug %>" name="categorySlug" type="text"
                  placeholder="Type here" class="form-control" id="product_slug" />
              </div>
              <div class="mb-4">
                <label class="form-label">Description</label>
                <textarea name="categoryDesc" placeholder="Type here"
                  class="form-control"><%= categoryDetails.categoryDesc %></textarea>
              </div>
              <div class="d-grid">
                <button class="btn btn-primary">Update category</button>
              </div>
            </form>
          </div>
        </div> <!-- .row // -->
      </div> <!-- card body .// -->
    </div> <!-- card .// -->
  </section> <!-- content-main end// -->

  <%- include('../partials/admin-footer') %>