<%- include('../../partials/user-header') %>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> Shop
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-9">
          <div class="row product-grid-3">
            <% results.products.forEach(element=> { %>
            <div class="col-lg-4 col-md-4 col-12 col-sm-6">
              <div class="product-cart-wrap mb-30">
                <div class="product-img-action-wrap">
                  <div class="product-img product-img-zoom">
                    <a href="/product/<%= element.slug %>">
                      <img class="default-img" src="/products-uploads/<%= element.productImages[0] %>" alt="">
                      <img class="hover-img" src="/products-uploads/<%= element.productImages[1] %>" alt="">
                    </a>
                  </div>
                  <div class="product-action-1">
                    <!-- wishlist buttons -->
                    <span id="<%= element._id %>-wishlistWrap" class="<% if (element.productInWishlist) { %>productInWishlist<% } %>">
                      <a onclick="addToWishlist('<%= element._id %>')" aria-label="Add To Wishlist" class="addToWishlist action-btn">
                        <i class="fi-rs-heart"></i>
                      </a>
                      <a onclick="removeFromWishlist('<%= element._id %>')" aria-label="Remove from Wishlist" class="removeFromWishlist action-btn">
                        <i class="fi-rs-heart"></i>
                      </a>
                    </span>
                    <!-- wishlist buttons -->
                  </div>
                  <% if(element.finalPrice < element.regularPrice ){ %>
                  <div class="product-badges product-badges-position product-badges-mrg">
                    <span class="hot">-<%= element.biggerDiscount %>%</span>
                  </div>
                  <% } %>
                </div>
                <div class="product-content-wrap">
                  <div class="product-category">
                    <a href="#">Clothing</a>
                  </div>
                  <h2><a href="product/<%= element.slug %>"><%= element.name %></a></h2>
                  <div class=" rating-result" title="90%">
                    <span><span></span></span>
                  </div>
                  <div class="product-price">
                    <% if(element.finalPrice < element.regularPrice ){ %>
                    <span>₹<%= element.finalPrice %></span>
                    <span class="old-price">₹<%= element.regularPrice %></span>
                    <% } else{ %>
                    <span>₹<%= element.regularPrice %></span>
                    <% } %>
                  </div>
                  <div class="product-action-1 show">

                    <!-- add to cart -->
                    <% if (!element.productInCart) { %>
                    <button id="<%= element._id %>-addToCart" onclick="addToCart('<%= element._id %>')" aria-label="Add To Cart" class="action-btn hover-up"><i class="fi-rs-shopping-bag-add"></i></button>
                    <% } %>
                    <a id="<%= element._id %>-goToCart" href="/cart" aria-label="Go to cart" class="action-btn hover-up gotocartBtn <% if (element.productInCart) { %>visible<% } %>"><i class="fi-rs-shopping-bag"></i></a>
                    <!-- add to cart -->
                  </div>
                </div>
              </div>
            </div>

            <% }) %>
          </div>

          <!--pagination-->
          <% pageCount = Math.ceil(productsCount/9)%>
          <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-start">
                <% if (results.previous) { %>
                <li class="page-item">
                  <a class="page-link" href="/shop?page=<%= results.previous.page %>"><i class="fi-rs-angle-double-small-left"></i></a>
                </li>
                <% } %>
                <% for(i=1;i<=pageCount; i++){ %>
                <li id="page-<%= i %>" class="page-item">
                  <a class="page-link" href="/shop?page=<%= i %>"><%= i %></a>
                </li>
                <% } %>
                <% if (results.next) { %>
                <li class="page-item"><a class="page-link" href="/shop?page=<%= results.next.page %>"><i class="fi-rs-angle-double-small-right"></i></a></li>
                <% } %>
              </ul>
            </nav>
          </div>
          <!--pagination-->
        </div>
        <div class="col-lg-3 primary-sidebar sticky-sidebar">
          <div class="widget-category mb-30">
            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
            <ul class="categories">
              <% if (locals.categories) { categories.forEach(element => { %>
              <li><a href="/categories/<%= element.categorySlug %>"><%= element.categoryName %></a></li>
              <% }) } %>
            </ul>
          </div>
          <!-- Product sidebar Widget -->
          <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
            <div class="widget-header position-relative mb-20 pb-10">
              <h5 class="widget-title mb-10">New products</h5>
              <div class="bt-1 border-color-1"></div>
            </div>

            <% newProducts.forEach(element=> { %>
            <div class="single-post clearfix">
              <div class="image">
                <a href="product/<%= element.slug %>">
                  <img src="/products-uploads/<%= element.productImages[0] %>" alt="#">
                </a>
              </div>
              <div class="content pt-10">
                <h5><a href="product/<%= element.slug %>"><%= element.name %></a></h5>
                <p class="price mb-0 mt-5">
                  <% if(element.finalPrice < element.regularPrice ){ %>
                  <span>₹<%= element.finalPrice %></span>
                  <% } else{ %>
                  <span>₹<%= element.regularPrice %></span>
                  <% } %>
                </p>
                <div class="product-rate">
                  <div class="product-rating" style="width:90%"></div>
                </div>
              </div>
            </div>
            <% }) %>

          </div>
          <div class="banner-img wow fadeIn mb-45 animated d-lg-block d-none">
            <img src="/user-assets/imgs/banner/banner-11.jpg" alt="">
            <div class="banner-text">
              <span>Women Zone</span>
              <h4>Save 17% on <br>Office Dress</h4>
              <a href="shop-grid-right.html">Shop Now <i class="fi-rs-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<script>
  //ADDING 'ACTIVE' TO PAGINATION 
  const params = new Proxy(new URLSearchParams(window.location.search), {
    get: (searchParams, prop) => searchParams.get(prop),
  });
  let value = params.page;
  if (value) {
    var element = document.getElementById('page-' + value);
    element.classList.add('active');
  }
</script>

<%- include('../../partials/user-footer') %>