<%- include('../../partials/user-header') %>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop
        <span></span> Your Cart
      </div>
    </div>
  </div>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">

        <% if(products.length> 0){ %>

        <div class="col-12">

          <div class="table-responsive">
            <table class="table shopping-summery text-center clean">
              <thead>
                <tr class="main-heading">
                  <th scope="col">Image</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Subtotal</th>
                  <th scope="col">Remove</th>
                </tr>
              </thead>
              <tbody>
                <% products.forEach(element=> { %>
                <% if (element.product) { %>
                <tr id="<%= element.product._id %>-tr">
                  <td class="image product-thumbnail">
                    <a href="/product/<%= element.product.slug %>">
                      <img src="/products-uploads/<%= element.product.productImages[0] %>" alt="<%= element.product.name %>">
                    </a>
                  </td>
                  <td class="product-des product-name">
                    <h5 class="product-name"><a href="/product/<%= element.product.slug %>">
                        <%= element.product.name %>
                    </h5>
                  </td>
                  <td class="price" data-title="Price">
                    <span>₹<%= element.finalPrice %></span>
                  </td>
                  <td class="text-center" data-title="Stock">
                    <div class="detail-qty border radius  m-auto">

                      <% if(element.finalPrice < element.product.regularPrice ){ %>

                      <a class="qty-down <% if (element.quantity ==1) { %>disabled<% } %>" onclick="changeQuantity('<%= element._id %>','<%= element.product._id %>',-1,'<%= element.finalPrice %>')"><i class="fi-rs-angle-small-down"></i></a>

                      <% }else{ %>

                      <a class="qty-down <% if (element.quantity ==1) { %>disabled<% } %>" onclick="changeQuantity('<%= element._id %>','<%= element.product._id %>',-1,'<%= element.product.regularPrice %>')"><i class="fi-rs-angle-small-down"></i></a>

                      <% } %>

                      <span id="<%= element.product._id %>" class="qty-val">
                        <%= element.quantity %>
                      </span>

                      <% if(element.finalPrice < element.product.regularPrice ){ %>

                      <a class="qty-up" onclick="changeQuantity('<%= element._id %>','<%= element.product._id %>',1,'<%= element.finalPrice %>')"><i class="fi-rs-angle-small-up"></i></a>

                      <% }else{ %>

                      <a class="qty-up" onclick="changeQuantity('<%= element._id %>','<%= element.product._id %>',1,'<%= element.product.regularPrice %>')"><i class="fi-rs-angle-small-up"></i></a>

                      <% } %>


                    </div>
                  </td>
                  <td class="text-right" data-title="Cart">
                    ₹<span id="<%= element.product._id %>-totalPrice">
                      <%= element.total %>
                    </span>
                  </td>
                  <td class="d" data-title="Remove">
                    <a class="" onclick="removeProductFromCart('<%= element._id %>','<%= element.product._id %>','<%= element.product.name %>')">
                      <i class="fi-rs-trash"></i>
                    </a>
                  </td>
                </tr>
                <% } %>
                <% }) %>
                <tr>
                  <td colspan="6" class="text-end"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="cart-action text-end">
            <a href="/shop" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
          </div>

          <div class="divider center_icon mt-50 mb-50"><i></i></div>
          <div class="row mb-50">
            <div class="col-lg-6 col-md-12 mx-auto">
              <div class="border p-md-4 p-30 border-radius cart-totals">
                <div class="heading_s1 mb-3">
                  <h4>Cart Totals</h4>
                </div>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td class="cart_total_label">Cart Subtotal</td>
                        <td class="cart_total_amount">
                          <span class="font-lg fw-900 text-brand">
                            ₹<span class="cartTotal">
                              <%= user.cart.total %>
                            </span>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td class="cart_total_label">Shipping</td>
                        <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                          Shipping</td>
                      </tr>
                      <% if (locals.couponInfo.couponApplied) { %>
                        <tr>
                          <th>Coupon</th>
                          <td class="product-subtotal" colspan="2">
                            <span id="coupon discount">-₹<%= couponInfo.couponDiscount %></span>
                            <span style="opacity: .8">(<%= couponInfo.couponApplied %>)</span>
                          </td>
                        </tr>
                        <% } %>
                      <tr>
                        <td class="cart_total_label">Total</td>
                        <td class="cart_total_amount">
                          <strong>
                            <span class="font-xl fw-900 text-brand">
                              ₹<span class="cartTotal">
                                <%= user.cart.total %>
                              </span>
                            </span>
                          </strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                  CheckOut</a>
              </div>
            </div>
          </div>
        </div>

        <% } else { %>

        <div class="col-12 text-center my-5">
          <h3 class="">Your cart is empty!🥲</h3>
          <p class="mb-4 mt-2">Add items to it now.</p>
          <a class="btn" href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Return to shop</a>
        </div>

        <% } %>

      </div>
    </div>
  </section>
</main>

<%- include('../../partials/user-footer') %>