<%- include('../../partials/user-header') %>
<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="/" rel="nofollow">Home</a>
        <span></span> Shop
        <span></span> Checkout
      </div>
    </div>
  </div>
  <% if(products.length> 0){ %>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-25">
            <h4>Delivery address</h4>
          </div>
          <div class="mb-sm-15">
            <% if (addressList) { %>
            <div class="address-list mb-3">
              <% count=1, addressList.forEach(element=> { %>
              <div class="form-check mb-3 custome-radio choose-address">
                <input value="<%= element.address._id %>" class="form-check-input deliveryAddress" type="radio" name="deliveryAddress" id="deliveryAddress-<%= count %>" <% if (count===1) { %>checked<% } %>>
                <label class="form-check-label" for="deliveryAddress-<%= count %>">
                  <%= element.address.name %>,
                  <%= element.address.phone %>,
                  <%= element.address.addressLine %>,
                  <%= element.address.city %>,
                  <%= element.address.zipCode %>...
                </label>
              </div>
              <% count++ }) %>
            </div>
            <% } %>
            <div class="toggle_info">
              <span><i class="fi-rs-user mr-10"></i><span class="text-muted">Want to ship to a new location?</span> <a href="#newAddress" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Add new address</a></span>
            </div>
            <div class="panel-collapse collapse login_form" id="newAddress">
              <div class="panel-body">
                <form id="add-address-checkout" action="">
                  <div class="form-group">
                    <input id="Name" required type="text" name="name" placeholder="Full name *" onchange="validateName()">
                    <span id="name" class="mt-2 text-danger" style="font-size: 13px"></span>
                  </div>
                  <div class="form-group">
                    <input required type="text" name="addressLine" required="" placeholder="Address *">
                  </div>
                  <div class="form-group">
                    <input required type="text" name="city" placeholder="City / Town *">
                  </div>
                  <div class="form-group">
                    <input required type="text" name="state" placeholder="State / County *">
                  </div>
                  <div class="form-group">
                    <input required id="pin" type="text" name="zipCode" placeholder="Postcode / ZIP *" onchange="validZipcode()">
                    <span id="pinError" class="mt-2 text-danger" style="font-size: 13px"></span>
                  </div>
                  <div class="form-group">
                    <input required id="phonenumber" type="text" name="phone" placeholder="Phone *" onchange="validEmail()">
                    <span id="phonenumbers" class="mt-2 text-danger" style="font-size: 13px"></span>
                  </div>
                  <div class="form-group">
                    <input required id="Email" type="text" name="email" placeholder="Email address *" onchange="validEmail()">
                    <span id="email" class="mt-2 text-danger" style="font-size: 13px"></span>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up" name="login">Add address</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="order_review">
            <div class="mb-20">
              <h4>Your Orders</h4>
            </div>
            <div class="table-responsive order_table text-center">
              <table class="table">
                <thead>
                  <tr>
                    <th colspan="2">Product</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <% products.forEach(element=> { %>
                  <% if (element.product) { %>
                  <tr>
                    <td class="image product-thumbnail"><img src="/products-uploads/<%= element.product.productImages[0] %>" alt="<%= element.product.name %>">
                    </td>
                    <td>
                      <h5>
                        <%= element.product.name %>
                      </h5> <span class="product-qty">x <%= element.quantity %>
                      </span>
                    </td>
                    <td>₹<span>
                        <%= element.product.regularPrice*element.quantity %>
                      </span></td>
                  </tr>
                  <% } %>
                  <% }) %>
                  <tr>
                    <th>SubTotal</th>
                    <td class="product-subtotal" colspan="2">₹<span id="checkoutTotal"><%= user.cart.total %></span></td>
                  </tr>
                  <tr>
                    <th>Shipping</th>
                    <td colspan="2"><em>Free Shipping</em></td>
                  </tr>
                  <tr>
                    <th>Total</th>
                    <td colspan="2" class="product-subtotal"><span class="font-xl text-brand fw-900">₹<span id="checkoutTotal"><%= user.cart.total %></span></span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="bt-1 border-color-1 mt-30 mb-30"></div>
            <div class="coupon mt-30 mb-30">
              <div class="toggle_info">
                <span><i class="fi-rs-label mr-10"></i><span class="text-muted">Have a
                    coupon?</span> <a href="#coupon" data-bs-toggle="collapse" class="collapsed" aria-expanded="false">Click here to enter your
                    code</a></span>
              </div>
              <div class="panel-collapse collapse coupon_form " id="coupon">
                <div class="panel-body">
                  <p class="mb-30 font-sm">If you have a coupon code, please apply it below.
                  </p>
                  <form method="post">
                    <div class="form-group">
                      <input type="text" placeholder="Enter Coupon Code...">
                    </div>
                    <div class="form-group">
                      <button class="btn  btn-md" name="login">Apply Coupon</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="payment_method">
              <div class="mb-25">
                <h5>Payment</h5>
              </div>
              <div id="payment_option">
                <div class="custome-radio">
                  <input value="COD" class="form-check-input payment_option" type="radio" name="flexRadioDefault" id="COD">
                  <label class="form-check-label" for="COD">Cash on delivery</label>
                </div>
                <div class="custome-radio">
                  <input value="razorPay" class="form-check-input payment_option" type="radio" name="flexRadioDefault" id="razorPay" checked>
                  <label class="form-check-label" for="razorPay">Razorpay</label>
                </div>
              </div>
            </div>
            <button onclick="placeOrder()" class="btn btn-fill-out btn-block mt-30">Place order</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <% } else { %>
  <section class="mt-50 mb-50">
    <div class="container">
      <div class="text-center">
        <h3 class="mb-4">You can't checkout when cart is empty 🥲</h3>
        <a class="btn" href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Return to shop</a>
      </div>
    </div>
  </section>

  <% } %>
</main>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<%- include('../../partials/user-footer') %>