<%- include('../../partials/user-header') %>

<main class="main">
  <div class="page-header breadcrumb-wrap">
    <div class="container">
      <div class="breadcrumb">
        <a href="index.html" rel="nofollow">Home</a>
        <span></span> My account
        <span></span> Order details
      </div>
    </div>
  </div>
  <section class="mt-70 mb-60">
    <div class="container">
      <div class="row order-wrap mx-auto">
        <div class="text-end mb-60">
          <a href="/my-account/orders" class="btn btn-outline btn-lg btn-brand-outline font-weight-bold text-brand bg-white text-hover-white border-radius-5 btn-shadow-brand hover-up">Back to all orders</a>
          <a href="#" class="btn ms-2">Download invoice</a>
        </div>

      </div>
      <div class="row order-wrap mx-auto">
        <div class="col-6 pe-3">
          <h4 class="mb-35 text-brand">Delivery Address</h4>
          <div class="table-responsive">
            <table class="table shopping-summery text-center">
              <tbody>
                <tr>
                  <!-- TODO exeption if no category is found -->
                  <td>Name: </td>
                  <td><b><%= orderDetails.deliveryAddress.name %> </b></td>
                </tr>
                <tr>
                  <td>Phone: </td>
                  <td><b><%= orderDetails.deliveryAddress.phone %> </b></td>
                </tr>
                <tr>
                  <td>Address: </td>
                  <td><%= orderDetails.deliveryAddress.addressLine %>, <%= orderDetails.deliveryAddress.city %></td>
                </tr>
                <tr>
                  <td>Zipcode: </td>
                  <td><%= orderDetails.deliveryAddress.zipCode %></td>
                </tr>
                <tr>
                  <td>State: </td>
                  <td><%= orderDetails.deliveryAddress.state %></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>

        <div class="col-6">
          <h4 class="mb-35 text-brand">Order Details</h4>
          <table class="table shopping-summery text-center">
            <tbody>
              <tr>
                <td>Order ID: </td>
                <td><%= orderDetails.orderId %> </td>
              </tr>
              <tr>
                <td>Items: </td>
                <td><%= orderDetails.products.length %></td>
              </tr>
              <tr>
                <td>date: </td>
                <td><% const [day,month,date,year] = orderDetails.date.toString().split(' ') %>
                  <%= `${date}-${month}-${year}` %>
                </td>
              </tr>
              <tr>
                <td>Payment method: </td>
                <td><%= orderDetails.paymentOption %></td>
              </tr>

              <tr>
                <td>Total: </td>
                <td><b>₹<%= orderDetails.cartTotal %> </b></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-50 mb-70">
    <div class="container">
      <div class="row order-wrap mx-auto">
        <div class="col-12">
          <div class="table-responsive">
            <table class="table shopping-summery text-center">
              <thead>
                <tr class="main-heading">
                  <th scope="col">Image</th>
                  <th scope="col">Product</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Price</th>
                  <th scope="col">Order Status</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% orderDetails.products.forEach(element => { %>
                <tr class="<%= element.product._id %>-tr">
                  <td class="image product-thumbnail">
                    <a href="/product/<%= element.product.slug %>">
                      <img src="/products-uploads/<%= element.product.productImages[0] %>" alt="#">
                    </a>
                  </td>
                  <td class="product-des product-name">
                    <h5 class="product-name"><a href="/product/<%= element.product.slug %>"><%= element.product.name %></a></h5>
                  </td>
                  <td class="text-center"><%= element.quantity %></td>
                  <td class="price" data-title="Price"><span>₹<%= element.finalPrice * element.quantity %></span></td>
                  <td class="text-center" data-title="Stock">

                    <span class="color3 font-weight-bold">

                      <!-- PROCESSING -->
                      <% if(element.productOrderStatus === 'Processing'){ %>
                      <span class="badge rounded-pill alert-warning"><%= element.productOrderStatus %></span>

                      <!-- CANCELED -->
                      <% }else if (element.productOrderStatus === 'Canceled'){ %>
                      <span class="badge rounded-pill alert-danger"><%= element.productOrderStatus %></span>

                      <!-- SHIPPED -->
                      <% }else if (element.productOrderStatus === 'Shipped'){ %>
                      <span class="badge rounded-pill alert-warning"><%= element.productOrderStatus %></span>

                      <!-- DELIVERED -->
                      <% }else if (element.productOrderStatus === 'Delivered'){ %>
                      <span class="badge rounded-pill alert-success"><%= element.productOrderStatus %></span>

                      <!-- RETURNED -->
                      <% }else if (element.productOrderStatus === 'Returned'){ %>
                      <span class="badge rounded-pill alert-danger"><%= element.productOrderStatus %></span>

                      <!-- RETURN REQUESTED -->
                      <% }else if (element.productOrderStatus === 'Return Requested'){ %>
                      <span class="badge rounded-pill alert-secondary"><%= element.productOrderStatus %></span>
                      <% } %>


                    </span>

                  </td>

                  <td class="text-right" data-title="">
                    <%= element.productpaymentStatus %>
                  </td>
                  <td class="button-td">

                    <!-- ------------------------------------ -->
                    <!-- ONLINE PAYMENT -->
                    <!-- ------------------------------------ -->
                    <% if(orderDetails.paymentOption != 'COD' ) { %>

                    <!-- CANCEL -->
                    <%  if ((element.productOrderStatus === 'Processing') || (element.productOrderStatus ==='Shipped')) { %>

                    <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                      <i class="fi-rs-shopping-bag mr-5"></i>Cancel order
                    </button>

                    <!--RETURN -->
                    <% } else if (element.productOrderStatus === 'Delivered') { %>

                    <button id="<%= element.product._id %>" orderStatus="Return Requested" class="btn btn-sm" onclick="returnOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                      <i class="fi-rs-shopping-bag mr-5"></i>Return order
                    </button>

                    <% } %>

                    <!-- ------------------------------------ -->
                    <!-- COD -->
                    <!-- ------------------------------------ -->
                    <% } else { %>

                    <!-- CANCEL -->
                    <%  if ((element.productOrderStatus === 'Processing') || (element.productOrderStatus ==='Shipped')) { %>
                    <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelCodOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                      <i class="fi-rs-shopping-bag mr-5"></i>Cancel order
                    </button>

                    <!-- RETURN -->
                    <% } else if (element.productOrderStatus === 'Delivered') { %>

                    <button id="<%= element.product._id %>" orderStatus="Return Requested" class="btn btn-sm" onclick="returnCodOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                      <i class="fi-rs-shopping-bag mr-5"></i>Return order
                    </button>

                    <% } %>
                    <% } %>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<%- include('../../partials/user-footer') %>