<%- include('../../partials/admin-header') %>


  <section class="content-main">
    <div class="content-header">
      <div class="col-6">
        <h2 class="content-title card-title">Edit Category</h2>
        <p><%= categoryDetails.categoryName %></p>
      </div>
      <div class="col-6 text-end">
        <a href="/admin/product-categories" class="btn btn-secondary rounded font-md">Back to Categories</a>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form action="/admin/product-categories/edit?id=<%= categoryDetails._id %>" method="POST">
              <input type="text" style="display: none;" value="<%= categoryDetails._id %>" name="catId">
              <div class="mb-4">
                <label for="product_name" class="form-label">Name</label>
                <input value="<%= categoryDetails.categoryName %>" name="categoryName" type="text"
                  placeholder="Type here" class="form-control" id="product_name" />
              </div>
              <div class="mb-4">
                <label for="product_slug" class="form-label">Slug</label>
                <input value="<%= categoryDetails.categorySlug %>" name="categorySlug" type="text"
                  placeholder="Type here" class="form-control" id="product_slug" />
              </div>
              <div class="mb-4">
                <label for="cat_discount" class="form-label">Discount</label>
                <input value="<%= categoryDetails.categoryDiscount %>" name="categoryDiscount" type="text"
                  placeholder="%" class="form-control" id="cat_discount" />
              </div>
              <div class="mb-4">
                <label class="form-label">Description</label>
                <textarea name="categoryDesc" placeholder="Type here"
                  class="form-control"><%= categoryDetails.categoryDesc %></textarea>
              </div>
              <div class="">
                <button class="btn btn-primary">Update category</button>
              </div>
            </form>
          </div>
        </div> <!-- .row // -->
      </div> <!-- card body .// -->
    </div> <!-- card .// -->
  </section> <!-- content-main end// -->

  <%- include('../../partials/admin-footer') %>