<%- include('../../partials/admin-header') %>

<section class="content-main">
  <div class="content-header">
    <div class="col-6">
      <h2 class="content-title card-title">Orders</h2>
      <p>View and manage recent orders</p>
    </div>
    <div class="col-6 text-end">
      <a href="/admin/sales-report/new" class="btn btn-primary"><i class="text-muted material-icons md-post_add"></i>Export</a>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="ordersTable">
          <thead>
            <tr>
              <th scope="col">Deliver to:</th>
              <th>#ID</th>
              <th scope="col">Items</th>
              <th scope="col">Total</th>
              <th scope="col">Payment method</th>
              <th scope="col">Order Status</th>
              <th scope="col">Date</th>
              <th scope="col" class="text-end"> Action </th>
            </tr>
          </thead>
          <tbody>
            <% orderList.forEach(order => {
                const [day,month,date,year] = order.date.toString().split(' ')
              %>
            <tr>
              <td><a href="/admin/order/<%= order._id %>"><b><%= order.deliveryAddress.name  %></b></a></td>
              <td><%= order.orderId %></td>
              <td><%= order.products.length %> items</td>
              <td>₹<%= order.cartTotal %></td>
              <td><%= order.paymentOption %></td>
              <td>
                <% if(order.orderPlaced) { %>
                <span class="badge rounded-pill alert-success">Success</span>
                <% }else{ %>
                <span class="badge rounded-pill alert-danger">Failed</span>
                <% } %>
              </td>
              <td><%= `${date}-${month}-${year}` %></td>
              <td class="text-end">
                <a href="/admin/order/<%= order._id %>" class="btn btn-xs rounded font-sm">View order</a>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->
</section> <!-- content-main end// -->
<%- include('../../partials/admin-footer') %>