<%- include('../../partials/admin-header') %>
<section class="content-main">
  <div class="content-header">
    <div class="col-6">
      <h2 class="content-title card-title">Order detail</h2>
      <p>Details for Order ID: <%= orderDetails.orderId %></p>
      <% const [day,month,date,year] = orderDetails.date.toString().split(' ') %>
    </div>
    <div class="col-6 text-end">
      <a href="/admin/orders" class="btn btn-secondary rounded font-md">Back to orders</a>
    </div>
  </div>
  <div class="card">
    <header class="card-header">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
          <span>
            <i class="material-icons md-calendar_today"></i> <b><%= `${day} ${date} ${month} ${year}` %></b>
          </span> <br>
          <small class="text-muted mt-1">Order ID: <%= orderDetails.orderId %></small>
        </div>
        <div class="col-lg-6 col-md-6 ms-auto text-md-end">
        </div>
      </div>
    </header> <!-- card-header end// -->
    <div class="card-body">
      <div class="row mb-50 mt-20 order-info-wrap">
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-local_shipping"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Delivery Details</h6>
              <p class="mb-1">
                <%= orderDetails.deliveryAddress.name %> <br> <a href="mailto:<%= orderDetails.deliveryAddress.email %>"><%= orderDetails.deliveryAddress.email %></a>, +91<%= orderDetails.deliveryAddress.phone %>
              </p>
              <p class="mb-1">
                Address: <%= orderDetails.deliveryAddress.addressLine %>, <br><%= orderDetails.deliveryAddress.city %>,
                <%= orderDetails.deliveryAddress.state %>, <br><%= orderDetails.deliveryAddress.zipCode %>
              </p>
            </div>
          </article>
        </div> <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-shopping_cart"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Order info</h6>
              <p>Items: <%= orderDetails.products.length %></p>
              <p>Payment method: <%= orderDetails.paymentOption %></p>
              <% if (orderDetails.couponApplied) { %>
              <p>Coupon Applied: <%= orderDetails.couponApplied %></p>
              <% } %>
              <p>Payment: <%= orderDetails.paymentOption %></p>
            </div>
          </article>
        </div> <!-- col// -->
        <div class="col-md-4">
          <article class="icontext align-items-start">
            <span class="icon icon-sm rounded-circle bg-primary-light">
              <i class="text-primary material-icons md-credit_card"></i>
            </span>
            <div class="text">
              <h6 class="mb-1">Payment details:</h6>
              <p>Total: <%
                let totalRegularPrice =0; 
                orderDetails.products.forEach(element => {
                  totalRegularPrice += parseInt(element.product.regularPrice) 
                }) 
                %>
                ₹<%= totalRegularPrice %></p>
              <p>Product discount:
                <%
                  let totalFinalPrice =0; 
                  orderDetails.products.forEach(element => {
                    totalFinalPrice += parseInt(element.finalPrice) 
                  }) 
                  %>
                -₹<%= totalRegularPrice-totalFinalPrice %></p>
              <p>Coupon discount: -₹<%= orderDetails.couponDiscount %></p>
              <p>Grand Total: <b>₹<%= orderDetails.cartTotal %></b></p>
            </div>
          </article>
        </div> <!-- col// -->
      </div> <!-- row // -->
      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th width="30%">Product</th>
                  <th>Unit Price</th>
                  <th>Quantity</th>
                  <th>Total</th>
                  <th>Order Status</th>
                  <th>Payment Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <% orderDetails.products.forEach(element => { %>
                <tr id="<%= element.product._id %>-tr">
                  <td>
                    <a class="itemside" href="#">
                      <div class="left">
                        <img src="/products-uploads/<%= element.product.productImages[0] %>" width="40" height="40" class="img-xs" alt="Item">
                      </div>
                      <div class="info"><%= element.product.name %></div>
                    </a>
                  </td>
                  <td>₹<%= element.product.regularPrice %> </td>
                  <td><%= element.quantity %></td>
                  <td>₹<%= element.product.regularPrice * element.quantity %></td>
                  <td>
                    <% if(element.productOrderStatus === 'Processing'){ %>
                    <span class="badge rounded-pill alert-warning"><%= element.productOrderStatus %></span>
                    <% }else if (element.productOrderStatus === 'Canceled'){ %>
                    <span class="badge rounded-pill alert-danger"><%= element.productOrderStatus %></span>
                    <% }else if (element.productOrderStatus === 'Delivered'){ %>
                    <span class="badge rounded-pill alert-success"><%= element.productOrderStatus %></span>
                    <% }else if (element.productOrderStatus === 'Refunded'){ %>
                    <span class="badge rounded-pill alert-secondary"><%= element.productOrderStatus %></span>
                    <% }else if (element.productOrderStatus === 'Shipped'){ %>
                    <span class="badge rounded-pill alert-warning"><%= element.productOrderStatus %></span>
                    <% }else if (element.productOrderStatus === 'Returned'){ %>
                    <span class="badge rounded-pill alert-secondary"><%= element.productOrderStatus %></span>
                    <% }  %>
                  </td>
                  <td>
                    <%  if (element.productpaymentStatus === 'Success'){ %>
                    <span class="badge rounded-pill alert-success">
                      <%= element.productpaymentStatus %>
                    </span>
                    <% } else if (element.productpaymentStatus === 'Pending'){ %>
                    <span class="badge rounded-pill alert-warning">
                      <%= element.productpaymentStatus %>
                    </span>
                    <% } else if (element.productpaymentStatus === 'Refunded'){ %>
                    <span class="badge rounded-pill alert-secondary">
                      <%= element.productpaymentStatus %>
                    </span>
                    <% } %>
                  </td>
                  <td class="text-end" width="25%">

                    <% if(orderDetails.paymentOption !== 'COD'){ %>

                    <% if (element.productOrderStatus === 'Processing') { %>
                    <div class="row">
                      <div class="col-6">
                        <select id="<%= element.product._id %>-status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200 changeOrderStatus" onchange="changeOrderStatus('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <option selected disabled><%= element.productOrderStatus %></option>
                          <option>Shipped</option>
                          <option>Delivered</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <i class="fi-rs-shopping-bag mr-5"></i>Cancel
                        </button>
                      </div>
                    </div>
                    <% } else if (element.productOrderStatus === 'Shipped') { %>
                    <div class="row">
                      <div class="col-6">
                        <select id="<%= element.product._id %>-status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200 changeOrderStatus" onchange="changeOrderStatus('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <option selected disabled><%= element.productOrderStatus %></option>
                          <option>Delivered</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <i class="fi-rs-shopping-bag mr-5"></i>Cancel
                        </button>
                      </div>
                    </div>
                    <% } else if (element.productOrderStatus === 'Delivered') { %>
                    <div class="row">
                      <div class="col-6">
                        <select disabled id="<%= element.product._id %>-status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200 changeOrderStatus" onchange="changeOrderStatus('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <option selected disabled><%= element.productOrderStatus %></option>
                          <option>Delivered</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <button disabled id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <i class="fi-rs-shopping-bag mr-5"></i>Cancel
                        </button>
                      </div>
                    </div>
                    <% } %>

                    <% } else { %>
                    <% if (element.productOrderStatus === 'Processing') { %>
                    <div class="row">
                      <div class="col-6">
                        <select id="<%= element.product._id %>-status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200 changeOrderStatus" onchange="changeOrderStatus('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <option selected disabled><%= element.productOrderStatus %></option>
                          <option>Shipped</option>
                          <option>Delivered</option>
                        </select>
                      </div>
                      <div class="col-6">
                        <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelCodOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                          <i class="fi-rs-shopping-bag mr-5"></i>Cancel
                        </button>
                      </div>
                      <% } else if (element.productOrderStatus === 'Shipped') { %>
                      <div class="row">
                        <div class="col-6">
                          <select id="<%= element.product._id %>-status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200 changeOrderStatus" onchange="changeOrderStatus('<%= orderDetails._id %>','<%= element.product._id %>')">
                            <option selected disabled><%= element.productOrderStatus %></option>
                            <option>Delivered</option>
                          </select>
                        </div>
                        <div class="col-6">
                          <button id="<%= element.product._id %>" class="btn btn-sm btn-secondary" onclick="cancelCodOrder('<%= orderDetails._id %>','<%= element.product._id %>')">
                            <i class="fi-rs-shopping-bag mr-5"></i>Cancel
                          </button>
                        </div>
                      </div>


                      <% } %>
                      <% } %>

                  </td>
                </tr>
                <% }) %>
                <tr>
                  <td colspan="12">
                    <article class="float-end">
                      <dl class="dlist">
                        <dt>Subtotal:</dt>
                        <dd>₹<%= orderDetails.cartTotal %></dd>
                      </dl>
                      <dl class="dlist">
                        <dt>Shipping cost:</dt>
                        <dd>₹00.00</dd>
                      </dl>
                      <dl class="dlist">
                        <dt>Grand total:</dt>
                        <dd> <b class="h5">₹<%= orderDetails.cartTotal %></b> </dd>
                      </dl>
                      <dl class="dlist">
                        <dt class="text-muted">Status:</dt>
                        <dd>
                          <span class="badge rounded-pill alert-success text-success">Payment done</span>
                        </dd>
                      </dl>
                    </article>
                  </td>
                </tr>
              </tbody>
            </table>
          </div> <!-- table-responsive// -->
        </div> <!-- col// -->
      </div>
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->
</section> <!-- content-main end// -->
<%- include('../../partials/admin-footer') %>