<%- include('../../partials/admin-header') %>

<section class="content-main">
  <div class="content-header">
    <div class="col-6">
      <h2 class="content-title card-title">Coupons</h2>
      <p>View and manage coupons</p>
    </div>
    <div class="col-6 text-end">
      <a href="/admin/coupons/new" class="btn btn-primary btn-sm rounded">Add new</a>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover" id="couponsTable">
          <thead>
            <tr>
              <th scope="col">Coupon code</th>
              <th scope="col">Discount(%)</th>
              <th scope="col">Created on</th>
              <th scope="col">Expires on</th>
              <th scope="col">Status</th>
              <th scope="col" class="text-end"> Action </th>
            </tr>
          </thead>
          <tbody>
            <% coupons.forEach(coupon => {

                const [day,month,date,year] = coupon.date.toString().split(' ')
                const [currentDate,currentMonth,currentYear] = new Date().toLocaleDateString().split('/')
                const dateNow = currentYear+'-'+currentMonth+'-'+currentDate
            %>
            <tr>
              <td><%= coupon.couponCode %></td>
              <td><%= coupon.couponDiscount %>%</td>
              <td><%= `${date}-${month}-${year}` %></td>
              <td><%= coupon.expiryDate %></td>
              <td>
                <% if (dateNow < coupon.expiryDate){ %>
                <span class="badge rounded-pill alert-success">Active</span>
                <% }else { %>
                <span class="badge rounded-pill alert-danger">Expired</span>
                <% } %>
              </td>
              <td class="text-end">
                <div class="dropdown">
                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="coupons/edit?id=<%= coupon._id %>">Edit coupon</a>
                    <a class="dropdown-item text-danger" href="coupons/delete?id=<%= coupon._id %>" onclick="return confirm('Do you want to delete <%= coupon.couponCode %>')">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div> <!-- table-responsive //end -->
    </div> <!-- card-body end// -->
  </div> <!-- card end// -->
</section> <!-- content-main end// -->
<%- include('../../partials/admin-footer') %>