<%- include('../../partials/admin-header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products</h2>
    </div>
    <div>
      <a href="#" class="btn btn-light rounded font-md">Export</a>
      <a href="/admin/products/new" class="btn btn-primary btn-sm rounded">Create new</a>
    </div>
  </div>
  <div class="card mb-4">
    <!-- card-header end// -->
    <div class="card-body">
      <table class="table" id="myDataTable">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(element=> { 
            const [day,month,date,year] = element.date.toString().split(' ') 
          %>
          <tr>
            <td>
              <a class="itemside" href="/admin/products/edit/<%= element.slug %>">
                <div class="left">
                  <img src="/products-uploads/<%= element.productImages[0] %>" class="img-sm img-thumbnail" alt="Item">
                </div>
                <div class="info">
                  <h6 class="mb-0">
                    <%= element.name %>
                  </h6>
                </div>
              </a>

            </td>
            <td>
              <span>₹<%= element.regularPrice %></span>
            </td>
            <td>
                <%= element.Stock %>
            </td>
            <td>
              <!-- //TODO add correct date -->
              <span><%= `${date}-${month}-${year}` %></span>
            </td>
            <td>
              <a href="/admin/products/edit/<%= element.slug %>" class="btn btn-sm font-sm rounded btn-brand">
                <i class="material-icons md-edit"></i> Edit
              </a>
              <a href="/admin/products/delete/<%= element.slug %>" class="btn btn-sm font-sm btn-light rounded" onclick="return confirm('Do you want to delete <%= element.name %>')">
                <i class="material-icons md-delete_forever"></i> Delete
              </a>
            </td>
          </tr>
          <!-- itemlist  .// -->
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- card-body end// -->
  </div>
</section>
<!-- content-main end// -->
<%- include('../../partials/admin-footer') %>