<%- include('../../partials/admin-header') %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Products</h2>
    </div>
    <div>
      <!-- <a href="#" class="btn btn-light rounded font-md">Export</a> -->
      <a href="/admin/products/new" class="btn btn-primary btn-sm rounded">Create new</a>
    </div>
  </div>
  <div class="card mb-4">
    <!-- card-header end// -->
    <div class="card-body">
      <table class="table" id="productsTable">
        <thead>
          <tr>
            <th scope="col">Product name</th>
            <th scope="col">Regular price</th>
            <th scope="col">Discount</th>
            <th scope="col">Category</th>
            <th scope="col">Discount</th>
            <th scope="col">Final price</th>
            <th scope="col">Stock</th>
            <th scope="col">Date</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% products.forEach(element=> { 
            const [day,month,date,year] = element.date.toString().split(' ') 
          %>
          <tr>
            <td>
              <a class="itemside" href="/admin/products/edit/<%= element.slug %>">
                <div class="left">
                  <img src="/products-uploads/<%= element.productImages[0] %>" class="img-sm img-thumbnail" alt="Item">
                </div>
                <div class="info">
                  <h6 class="mb-0">
                    <%= element.name %>
                  </h6>
                </div>
              </a>

            </td>
            <td>
              <span>₹<%= element.regularPrice %></span>
            </td>
            <td>
              <span><% if(element.Discount){ %> <%= element.Discount %>%<% } %></span>
            </td>
            <td>
              <span><%= element.category.categoryName %></span>
            </td>
            <td>
              <span><%= element.category.categoryDiscount %>%</span>
            </td>
            <td>
              <span>₹<%= element.finalPrice %></span>
            </td>
            <td>
              <%= element.Stock %>
            </td>
            <td>
              <!-- //TODO add correct date -->
              <span><%= `${date}-${month}-${year}` %></span>
            </td>
            <td>
              <div class="dropdown">
                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/products/edit/<%= element.slug %>">Edit</a>
                  <a class="dropdown-item text-danger" href="/admin/products/delete/<%= element.slug %>" onclick="return confirm('Do you want to delete <%= element.name %>')">Delete</a>
                </div>
              </div> <!-- dropdown //end -->
            </td>
          </tr>
          <!-- itemlist  .// -->
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- card-body end// -->
  </div>
</section>
<!-- content-main end// -->
<%- include('../../partials/admin-footer') %>